<div class="row mb-4">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Set Privilege</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>View (Yes/No)</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>3224</td>
                <td>Keith Baird</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="c1" checked>
                    <label class="custom-control-label" for="c1"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3218</td>
                <td>Graham Price</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="c2" checked>
                    <label class="custom-control-label" for="c2"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2651</td>
                <td>Reuben Orr</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="c3" checked>
                    <label class="custom-control-label" for="c3"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2636</td>
                <td>Akeem Holder</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="c5" checked>
                    <label class="custom-control-label" for="c5"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2757</td>
                <td>Beau Barrera</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="c4" checked>
                    <label class="custom-control-label" for="c4"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- end section -->